body {
    background-color: #050303;
    background-image: url("/img/backgroundWall.png");
    color: #FFF;
}

.map {
    svg {
        height: 50vh;
        width: 100%;
    }

    .land {
        fill: #CCCCCC;
        fill-opacity: 1;
        stroke: white;
        stroke-opacity: 1;
        stroke-width: 0.5;

        &:hover {
            fill: rgb(255, 255, 255);
        }
    }
}


.data {
    background-color: green;
}

.diagrams {
    background-color: blue;
}

footer {
    background-color: purple;
}