// Color Stack
$primaryColor: #FFCE38;
$secondaryColor: #00CFFA;
$optionalColor: #10AF45;
$mapColor: #808080;
$backgroundColor: #050303;

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    color: $primaryColor;
    font-size: 2.5em;
}

h2 {
    color: $secondaryColor;
    font-size: 2.0em;
}

h3 {
    color: $primaryColor;
    font-size: 1.8em;
}

ul {
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: #FFF;
}

.quote {
    &:before {
        content: '\201C';
    }

    &:after {
        content: '\201D';
    }
}


body {
    background-color: $backgroundColor;
    background-image: url("/img/backgroundWall.png");
    color: #FFF;
}


.map {
    svg {
        height: 50vh;
        width: 100%;
    }

    .land {
        fill: $mapColor;
        fill-opacity: 1;
        stroke: #FFF;
        stroke-opacity: 1;
        stroke-width: 0.5;

        &:hover {
            fill: $optionalColor;
        }
    }

    .landTagged {
        fill: darken($optionalColor, 10%);
    }
}


.data {
    section {
        text-align: center;
    }

    .voivodeship {
        color: $optionalColor;
    }
}


.diagrams {
    width: 80vw;
    min-width: 300px;
    margin: 20px auto;
}

footer {
    background-color: rgba($color: #000, $alpha: 0.6);
    border-top: solid $primaryColor;
    border-bottom: solid $primaryColor;
    text-align: center;
    display: flex;
    justify-content: center;

    .aboutMe {
        align-self: center;

        & img {
            margin-top: 1em;
        }

        & blockquote {
            position: relative;
            padding-left: 1em;
            border-left: 0.2em solid $primaryColor;
            font-size: 1.25em;
            line-height: 150%;

            &:before,
            &:after {
                content: '\201C';
                color: $secondaryColor;
            }

            &:after {
                content: '\201D';
            }
        }
    }

    & .socialMedia {
        align-self: center;

        & i {
            font-size: 2.5em;
            margin: 0 0.2em;
            margin-bottom: 0.5em;
        }

        & .fb:hover {
            color: #3C5A99;
        }

        & .yt:hover {
            color: #FF0000;
        }

        & .ig:hover {
            color: #E1306C;
        }

        & .gh:hover {
            color: #333;
        }

    }
}