body {
    background-color: #123;
    color: #FFF;
}

.map {
    background-color: red;
}

.data {
    background-color:green;
}

.diagrams {
    background-color:blue;
}

footer {
    background-color: purple;
}